* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;  
  }
  nav {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
  }
  body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      padding: 20px;
      text-align: center;
      background-color: #f4f4f4;
      }
      header {
      background-color: #fff; 
      text-align: center;  
      width: 100%;
      padding: 20px;
      }
      .profile-img {
      width: 200px;
      height: auto;
      border-radius: 50%;
      }
      #about-me {
        background-color: #fff; 
        padding: 20px; 
      }
      #skills {
        display: flex;
        flex-wrap: wrap;
      }
      #skills ul {
        list-style: none;
        padding: 1;
        display: flex;
        flex-wrap: wrap;
      }
      #skills li {
        flex: 1;
        padding: 10px;
        border: 2px solid #6b5f5f; 
        margin: 50px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      #projects {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      #projects img {
        max-width: 50%;
        height: auto;
        border-radius: 5px;
        margin: 0 auto; /* Center the image horizontally */
        margin-bottom: 10px;
      }
      #projects ul {
        list-style: none;
        padding: 1;
        display: flex;
        flex-wrap: wrap;
      }
      #projects li {
        flex: 1; /* Flex properties for responsiveness */
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden; /* Ensure content doesn't overflow the card */
      }
      footer {
        text-align: center;
      }